* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 1140px;
}

.head {
    width: 100%;
    height: 43px;
    filter: drop-shadow(0px 1px 1px rgba(42, 41, 41, 0.11));
    background-color: #f0f3f8;
    display: flex;
    align-items: center;
    justify-content: center;

    &__buttons {
        display: flex;
        justify-content: flex-end;
    }

    &__btn {
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    &__btnIcon {
        width: 24px;
        height: 24px;
        padding-right: 7px;
    }

    &__arrow {
        width: 10px;
        height: 5px;
        padding-right: 29px;
    }
}

.inform {
    width: 100%;
    height: 117px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__contacts {
        display: flex;
        justify-content: space-between;

    }

    &__logo {
        display: flex;
    }

    &__logoIcon {
        width: 182px;
        height: 83px;
    }

    &__call {
        font-size: 15px;
        line-height: 6px;
        color: #454647;
        cursor: pointer;
        border: none;
        padding: 0;
        background-color: #fff;
        font-weight: 300;
        text-decoration: #454647 underline;
    }

    &__number {
        font-size: 15px;
        line-height: 20px;
        color: #454647;
        font-weight: 400;
    }

    @media (max-width:1140px) {
        &__logoIcon {
            width: calc(100px + (182 - 100) * ((100vw - 320px)/(1140 - 320)));
        }

    }
}

.navigation {
    width: 100%;
    min-height: 106px;
    display: flex;
    justify-content: center;
    padding-left: 29px;

    &__bloks {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
        min-height: 106px;


    }

    &__buttons {
        min-height: 100%;
        max-width: 110px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding-right: 20px;

    }

    &__btn {
        border: none;
        border-top: 3px solid #fff;
        background-color: #fff;
        padding: 16px 0 18px;
    }

    &__btn:active {
        border-top: 3px solid #ee3346;
    }

    &__text {
        font-size: 15px;
        line-height: 6px;
        color: #454647;
        font-weight: 400;
    }

    @media (max-width:1140px) {
        &__text {
            font-size: calc(12px + (15 - 12) * ((100vw - 320px)/(1140 - 320)));
        }

        &__buttons {
            padding-right: calc(1px + (20 - 1) * ((100vw - 320px)/(1140 - 320)));
            padding-bottom: calc(1px + (15 - 1) * ((100vw - 320px)/(1140 - 320)));
        }
    }
}

.menu {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 32px 0 54px 10px;


    &__text {
        font-size: 15px;
        line-height: 6px;
        color: #999999;
        font-weight: 400;
        align-items: center;
        display: flex;
        flex-wrap: wrap;

    }

    &__arrowIcon {
        margin: 0 11px;
    }

    &__span {
        color: #454647;
    }

    @media (max-width:1140px) {
        &__text {
            font-size: calc(12px + (15 - 12) * ((100vw - 320px)/(1140 - 320)));
            line-height: calc(30px + (6 - 30) * ((100vw - 320px)/(1140 - 320)));
        }

        &__arrowIcon {
            margin-right: calc(2px + (11 - 2) * ((100vw - 320px)/(1140 - 320)));
        }
    }
}

.content {
    display: flex;
    justify-content: center;

    &__why {
        display: flex;
    }

    &__products {
        display: flex;
        flex-direction: column;
        width: 806px;
    }

    &__title {
        font-size: 30px;
        line-height: 40px;
        color: #0f0f0f;
        font-weight: 400;
        padding-left: 9px;

    }

    &__description {
        font-size: 14px;
        color: #999999;
        font-weight: 400;
        padding: 19px 0 36px 9px;
    }

    &__choice {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 656px;
        padding-left: 9px;

    }

    &__price {
        font-size: 40px;
        color: #e92c39;
        font-weight: 300;
    }

    &__span {
        font-size: 18px;
        color: #e92c39;
        font-weight: 300;
        vertical-align: super;
    }

    &__btnBuy {
        width: 141px;
        height: 48px;
        border: none;
        border-radius: 10px;
        background-color: #ee3346;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        color: #fff;
    }

    &__btnBuyLine {
        width: 2px;
        height: 100%;
        background: linear-gradient(90deg, rgba(221, 17, 31, 1) 0%, rgba(233, 44, 57, 1) 35%, rgba(246, 119, 128, 1) 100%);
    }

    &__arrowDown {
        border: solid #fff;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }


    &__slider {
        display: flex;
        margin: 25px 0 150px;
    }

    &__bigSlide {
        width: 560px;
        height: 390px;
    }

    &__bigImg {
        width: 560px;
        height: 390px;
    }

    &__smallSlides {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 74px;
        background-color: #f5f8fa;
        justify-content: space-around;
    }

    &__btnSlide {
        width: 15px;
        height: 8px;
        border: none;
        display: flex;
        background-color: inherit;
    }

    &__smallImg {
        width: 56px;
        height: 39px;

        &:active {
            border: 1px solid blue;
        }
    }

    &__catalog {
        display: flex;
        flex-direction: column;
        min-height: 180px;
        width: fit-content;

    }

    &__btnCatalog {
        width: 211px;
        height: 48px;
        border-radius: 10px;
        background-color: #fff;
        border: 1px solid #000;
    }

    &__list {
        width: 150px;
        padding-top: 32px;
        border: none;
        background-color: inherit;
        text-align: left;
    }

    &__open {
        width: 9px;
        height: 5px;
        margin: 2px;

        &__close {
            display: none;
        }
    }

    &__links {
        height: 0;
        overflow: hidden;
        transition: 0.2s all cubic-bezier(1, -0.97, 0.86, 0.18);
        color: #454647;
    }

    &__link {
        font-size: 14px;
        line-height: 32px;
        color: #000000;
        font-weight: 400;
    }

    @media (max-width:1140px) {
        &__title {
            font-size: calc(14px + (30 - 14) * ((100vw - 320px)/(1140 - 320)));
        }

        &__products {
            width: calc(200px + (806 - 200) * ((100vw - 320px)/(1140 - 320)));
        }

        &__price {
            font-size: calc(20px + (40 - 20) * ((100vw - 320px)/(1140 - 320)));
        }

        &__btnBuy {
            width: calc(80px + (141 -80) * ((100vw - 320px)/(1140 - 320)));
            height: calc(35px + (48 - 35) * ((100vw - 320px)/(1140 - 320)));

        }

        &__choice {
            width: calc(190px + (656 - 190) * ((100vw - 320px)/(1140 - 320)));

        }

        &__btnCatalog {
            width: calc(80px + (211 - 80) * ((100vw - 320px)/(1140 - 320)));
        }

        &__list {
            width: calc(80px + (150 - 80) * ((100vw - 320px)/(1140 - 320)));
        }

        &__link {
            width: calc(12px + (14 - 12) * ((100vw - 320px)/(1140 - 320)));
            line-height: calc(20px + (32 - 20) * ((100vw - 320px)/(1140 - 320)));
        }

        &__slider {
            margin-bottom: calc(50px + (150 - 50) * ((100vw - 320px)/(1140 - 320)));

        }

        &__bigSlide {
            width: calc(130px + (560 - 130) * ((100vw - 320px)/(1140 - 320)));
            height: calc(90px + (390 - 90) * ((100vw - 320px)/(1140 - 320)));
        }

        &__bigImg {
            width: calc(130px + (560 - 130) * ((100vw - 320px)/(1140 - 320)));
            height: calc(90px + (390 - 90) * ((100vw - 320px)/(1140 - 320)));
        }

        &__smallImg {

            width: calc(15px + (56 - 15) * ((100vw - 320px)/(1140 - 320)));
            height: calc(5px + (39 - 5) * ((100vw - 320px)/(1140 - 320)));
        }
    }
}

.details {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;

    &__common {
        width: fit-content;
        align-items: flex-start;
    }

    &__buttons {
        display: flex;
    }

    &__btn {
        font-size: 18px;
        color: #000000;
        font-weight: 300;
        border: none;
        border-bottom: 1px solid #b2b2b2;
        background-color: #fff;
        width: 210px;
        padding-bottom: 16px;

        &:active {
            border-bottom: 1px solid #ee3346;
            color: #ee3346;
        }
    }

    &__parag {
        padding-top: 40px;
        width: 822px;
        height: 218px;
        font-size: 16px;
        line-height: 28px;
        color: #0f0f0f;
        font-weight: 400;
    }

    @media (max-width:1140px) {


        &__btn {
            font-size: calc(12px + (18 - 12) * ((100vw - 320px)/(1140 - 320)));
            width: calc(70px + (210 - 70) * ((100vw - 320px)/(1140 - 320)));
        }

        &__parag {
            width: calc(250px + (822 - 250) * ((100vw - 320px)/(1140 - 320)));
            font-size: calc(10px + (16 - 10) * ((100vw - 320px)/(1140 - 320)));
            line-height: calc(10px + (16 - 10) * ((100vw - 320px)/(1140 - 320)));

        }
    }
}